:root{
    --cor-primaria: #666666;
    --cor-secundaria: #000000;
}

.cabecalho-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.sobre,
.projetos,
.conhecimentos,
.contato {
    display: flex;
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 18px;

}

.cabecalho-titulo:hover {
    text-decoration: none;
}

.cabecalho-titulo a:not(.nome) {
    margin-left: 20px; 
    text-decoration: none;
    padding: 5px 15px; 
}
