:root{
    --cor-primaria: #666666;
    --cor-secundaria: #000000;
}

.nome {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 28px;
    display: flex;
    margin-right: 20px;
}

.nome:hover {
    text-decoration: none;
}