.cabecalho {
    text-align: center;
    padding-top: 2rem;  

}

.cabecalho-conteudo {
    background: var(--cor-background);
    padding: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    justify-content: space-between;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: 1px solid var(--cor-primaria);
}

.cabecalho-nome{
    padding-right: 2rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.cabecalho-sobre,
.cabecalho-projetos,
.cabecalho-conhecimentos,
.cabecalho-contato {
    display: flex;
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 1.125rem;
    padding-right: 3rem;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

}

.cabecalho-sobre:hover,
.cabecalho-projetos:hover,
.cabecalho-conhecimentos:hover,
.cabecalho-contato:hover {
    color: var(--cor-hover);
    transform: scale(1.1);
    transition: transform 0.7s ease;
}

.cabecalho-conteudo:hover{
    border: 1px solid var(--cor-hover);
}



.cabecalho-titulo:hover {
    text-decoration: none;
}

.cabecalho-titulo a:not(.nome) {
    margin-left: 1.25rem; 
    text-decoration: none;
    padding: 0.3125rem 1rem; 
}

.cabecalho-nome {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 2rem;
    display: flex;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.cabecalho-nome:hover {
    color: var(--cor-hover);
    text-decoration: none;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


/* Para telas com até 575px de largura */
@media (max-width: 575px) {
    .cabecalho-conteudo {
        flex-direction: column;
        text-align: center;
    }

    .cabecalho-sobre,
    .cabecalho-projetos,
    .cabecalho-conhecimentos,
    .cabecalho-contato {
        flex: 1;
        padding: 1rem 0;
    }

    .cabecalho-nome{
        padding: 0;
    }
}

/* Para telas com largura entre 576px e 779px */
@media (min-width: 576px) and (max-width: 779px) {
    .cabecalho-sobre,
    .cabecalho-projetos,
    .cabecalho-conhecimentos,
    .cabecalho-contato {
        padding: .5rem;
    }


    .cabecalho-sobre:nth-child(2n),
    .cabecalho-projetos:nth-child(2n),
    .cabecalho-conhecimentos:nth-child(2n),
    .cabecalho-contato:nth-child(2n) {
        margin-right: 0;
    }

    .cabecalho-nome{
        padding: 0;
        margin: 0;
    }

    .lista-links{
        display: none;
    }

}

/* Para telas com 780px de largura ou mais */
@media (min-width: 780px) {
    .cabecalho-sobre,
    .cabecalho-projetos,
    .cabecalho-conhecimentos,
    .cabecalho-contato {
        margin: 0;
        padding: 0;
        display: flex;
    }

    .cabecalho-sobre:nth-child(3n),
    .cabecalho-projetos:nth-child(3n),
    .cabecalho-conhecimentos:nth-child(3n),
    .cabecalho-contato:nth-child(3n) {
        margin: 0;
        margin-right: 0;
    }

    .cabecalho-conteudo {
        background: var(--cor-background);
        margin: 0;
        margin-bottom: 5rem;
        box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
        border-radius: 1rem;
        border: 1px solid var(--cor-primaria);
    }
}
