.sobre-mim {
    max-width: 100%;
    height: 25rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    border: 2px solid var(--cor-secundaria);
}

.sobre-mim img{
    position: relative;
    margin-top: 1rem;
}

.sobre-mim::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cor-background);
    opacity: 0.3;
    z-index: -1;
    border-radius: .850rem;
}

.formacao{
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
}

.formacao-academica{
    flex: 1;
    text-align: center;
    margin-top: 1rem;
}

.idiomas{
    flex: 1;
    margin-top: 1rem;
    text-align: center;
}

.titulo-formacao{
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 1.5rem;
}

.container-formacao:hover{
    border: 2px solid var(--cor-hover);
}

.container-formacao::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cor-background);
    opacity: 0.3;
    z-index: -1;
    border-radius: .850rem;
}

.titulo-sobre {
    margin-left: 5rem;
    margin-bottom: 0.625rem;
    font-size: 3rem;
    font-style: italic;
    color: var(--cor-terciaria);
    filter: drop-shadow(1px 1px .5px #000000);
}

.descricao-sobre{
    position: relative;
    color: var(--cor-terciaria)
}

.conteudo-sobre {
    display: flex;
    align-items: center;
}

.imagem-sobre {
    width: 12.5rem; 
}

.imagem-sobre img {
    max-width: 100%;
    height: auto;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: 2px solid var(--cor-secundaria);
}

.imagem-sobre img:hover{
    border: 2px solid var(--cor-hover);
}

.descricao-container {
    flex: 1;
    max-width: 25rem;
    text-align: left;
    padding-left: 5rem;
    font-size: 1.250rem;
    font-weight: 500;
    text-align: justify;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.25rem;
    overflow-x: auto;
}

.card-image-js{
    width: 80%;
    margin-bottom: 3.4rem;
    padding-top: 1rem;
    max-width: 10rem;
    height: auto;
}

.section{
    display: flex;
    flex-wrap: nowrap;
}

.conhecimentos{
    justify-content: space-around;
    display: flex;
    margin-bottom: 5rem;
}

.projetos{
    justify-content: space-around;
    display: flex;
    margin-bottom: 5rem;
}

.section-title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem;
    color: var(--cor-terciaria);
    filter: drop-shadow(1px 1px .5px #000000);
}

.card-linguagens {
    margin-top: 2rem;
    max-width: 28rem;
    flex: 0 0 calc(33.333% - 20px);
    padding: 10px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    white-space: normal;
    border: 2px solid var(--cor-secundaria);
    position: relative;
}

.card-linguagens::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cor-background);
    opacity: 0.3;
    z-index: -1;
    border-radius: .850rem;
}

.card-projetos{
    margin-top: 2rem;
    max-width: 20rem;
    height: 16rem;
    flex: 0 0 calc(33.333% - 20px);
    padding: 10px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    white-space: normal;
    border: 2px solid var(--cor-secundaria);
    position: relative;
}

.card-projetos::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--cor-background);
    opacity: 0.3;
    z-index: -1;
    border-radius: .850rem;
}

.card-image {
    padding-top: 1rem;
    max-width: 10rem;
    height: auto;
}

.card-image-projetos{
    margin-top: 1rem;
    max-width: 14rem;
    height: auto;
    border-radius: .5rem;
}

.card-title {
    font-size: 1.5rem;
    margin: 0.625rem 0;
    color: var(--cor-terciaria);
    filter: drop-shadow(1px 1px .5px #000000);
}

.card-text {
    font-size: 1rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: var(--cor-terciaria);
}

.card-negrito{
    text-decoration: none;
    font-weight:900;
    font-size: 1.1rem;
}

.ancora-text{
    text-decoration: none;
    text-align: justify;
    font-size: 1.1rem;
    color: var(--cor-primaria);
}

.ancora-text:hover{
    color: var(--cor-hover);
}

.card-linguagens:hover,
.card-projetos:hover,
.sobre-mim:hover{
    border: 2px solid var(--cor-hover);
}

/* Para telas com até 575px de largura */
@media (max-width: 575px) {
    .card-linguagens,
    .card-projetos {
   
        margin-right: 0;
    }

    .conhecimentos{
        flex-direction: column;
        align-items: center;
    }

    .projetos{
        flex-direction: column;
        align-items: center;
    }

    .titulo-sobre{
        margin: 0;
        text-align: center;
    }

    .sobre-min {
        max-width: 100%;
    }

    .conteudo-sobre{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .descricao-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    

    .sobre-mim {
        display: flex;
        max-width: 100%;
        height: 67rem;
 
    }

    .formacao{
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .titulo-formacao{
        padding-top: .5rem;
    }

    .section-title{
        margin-top: 1.5rem;
    }
    
    .imagem-sobre img {
        max-width: 100%;
        height: auto;
    }

    .card-image-projetos{
        width: 50%;
    }

    .card-text{
        margin-left: 2rem;
        margin-right: 2rem ;
    }
}

/* Para telas com largura entre 576px e 779px */
@media (min-width: 576px) and (max-width: 779px) {
    .card-linguagens,
    .card-projetos {
        justify-content: space-around;
        margin-right: 1rem; 
        width: 28rem;
    }

    .sobre-mim{
        height: 50rem;
    }

    .formacao{
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .titulo-formacao{
        padding-top: .5rem;
    }

    .section-title{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .titulo-sobre{
        margin: 0rem 6rem;
    }


    .conteudo-sobre{
        margin-left: 1rem;
        padding: 0;
    }


    .descricao-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    
    .imagem-sobre img {
        margin: 0rem 1rem;
        max-width: 100%;
        height: auto;
    }

    .card-image{
        width: 6rem;
    }

    .card-text{
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: .8rem;
    }

    .card-image-projetos{
        width: 8rem;
    }

    
}

/* Para telas com 780px de largura ou mais */
@media (min-width: 780px) {
  
    .card-linguagens:nth-child(3n),
    .card-projetos:nth-child(3n) {
        margin-right: 0;
    }

        .card-linguagens,
        .card-projetos {
            flex: 0 0 calc(33.333% - 10px);
            margin-right: 20px; 
            padding: 0;
        }

        .titulo-sobre{
            margin: 0rem 6rem;
            text-align: center;

        }

        .conteudo-sobre{
            padding-top: 2rem;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .descricao-container{
            font-size: 1.5rem;
            margin-left: 6rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        
        .sobre-mim { 
            display: flex;
            max-width: 100%;
            height: 49rem;
        }

        .section-title{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .titulo-formacao{
            font-size: 1.3rem;
        }
        
        .imagem-sobre img {
            margin: 0rem 5rem;
            max-width: 100%;
            height: auto;
            
        }
        .projetos,
        .conhecimentos{
            display: flex;
            justify-content: space-around;
        }

        .card-image{
            width: 80%;
        }
    
        .card-text{
            margin-right: 2rem;
            margin-left: 2rem;
            padding-top: 1rem;
            font-size: 1rem;
        }
    
        .card-image-projetos{
            width: 80%;
        }

        .card-projetos{
            height: 20rem;
        }

}