.sobre-mim {
    max-width: 100%;
    height: 19.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--cor-background);
}

.titulo-sobre {
    margin-left: 2rem;
    margin-bottom: 0.625rem;
    font-size: 2rem;
    font-style: italic;
}

.conteudo-sobre {
    display: flex;
    align-items: center;
}

.imagem-sobre {
    width: 12.5rem; 
}

.imagem-sobre img {
    margin-left: 1rem;
    max-width: 100%;
    height: auto;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

}

.descricao-container {
    flex: 1;
    max-width: 25rem;
    text-align: left;
    padding-left: 5rem;
    font-size: 1.250rem;
    font-weight: 500;
    text-align: justify;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem;
    overflow-x: auto;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.conhecimentos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.projetos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}

.section-title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.card-linguagens {
    margin-top: 2rem;
    margin-right: 2rem;
    max-width: 16rem;
    height: 22rem;
    flex: 0 0 calc(33.333% - 20px);
    border: 1px solid #ccc;
    padding: 0.625rem;
    text-align: center;
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    background: var(--cor-background);
    white-space: normal;
}

.card-projetos{
    margin-top: 2rem;
    margin-right: 2rem;
    max-width: 16rem;
    height: 16rem;
    flex: 0 0 calc(33.333% - 20px);
    border: 0.00625rem solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    background: var(--cor-background);
    white-space: normal;
}

.card-image {
    padding-top: 1rem;
    max-width: 10rem;
    height: auto;
}

.card-image-projetos{
    padding-top: 1rem;
    max-width: 14rem;
    height: auto;
}

.card-title {
    font-size: 1.125rem;
    margin: 0.625rem 0;
}

.card-text {
    font-size: 0.875rem;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .card-container {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .card {
        flex: 0 0 calc(33.333% - 20px);
        margin-right: 0.625rem;
    }

    .card:last-child {
        margin-right: 0;
    }
}
