.sobre-mim {
    max-width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: var(--cor-background);
    border: 1px solid var(--cor-primaria);
}

.titulo-sobre {
    margin-left: 5rem;
    margin-bottom: 0.625rem;
    font-size: 2rem;
    font-style: italic;
}

.conteudo-sobre {
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.imagem-sobre {
    width: 12.5rem; 
}

.imagem-sobre img {
    margin-left: 1rem;
    max-width: 100%;
    height: auto;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: 1px solid var(--cor-primaria);
}

.descricao-container {
    flex: 1;
    max-width: 25rem;
    text-align: left;
    padding-left: 5rem;
    font-size: 1.250rem;
    font-weight: 500;
    text-align: justify;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1.25rem;
    overflow-x: auto;
}

.section{
    display: flex;
    flex-wrap: nowrap;
}

.conhecimentos{
    justify-content: space-between;
    display: flex;
    margin-bottom: 5rem;
}

.projetos{
    justify-content: space-between;
    display: flex;
    margin-bottom: 5rem;
}

.section-title{
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

.card-linguagens {
    margin-top: 2rem;
    max-width: 20rem;
    flex: 0 0 calc(33.333% - 20px);
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    background: var(--cor-background);
    white-space: normal;
    border: 1px solid var(--cor-primaria);
}

.card-projetos{
    margin-top: 2rem;
    max-width: 20rem;
    height: 16rem;
    flex: 0 0 calc(33.333% - 20px);
    border: 0.00625rem solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 0.3125rem;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    background: var(--cor-background);
    white-space: normal;
    border: 1px solid var(--cor-primaria);
}

.card-image {
    padding-top: 1rem;
    max-width: 10rem;
    height: auto;
}

.card-image-projetos{
    margin-top: 1rem;
    max-width: 14rem;
    height: auto;
    border-radius: .5rem;
}

.card-title {
    font-size: 1.125rem;
    margin: 0.625rem 0;
}

.card-text {
    font-size: 0.875rem;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

/* Para telas com até 575px de largura */
@media (max-width: 575px) {
    .card-linguagens,
    .card-projetos {
   
        margin-right: 0;
    }

    .conhecimentos{
        flex-direction: column;
        align-items: center;
    }

    .projetos{
        flex-direction: column;
        align-items: center;
    }

    .titulo-sobre{
        margin: 0;
        text-align: center;
    }

    .sobre-min {
        max-width: 100%;
    }

    .conteudo-sobre{
        margin: 0;
        padding: 0;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .descricao-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    

    .sobre-mim {
        display: flex;
        max-width: 100%;
        height: 30rem;
    }
    
    .imagem-sobre img {
        margin-left: 8rem;
        max-width: 100%;
        height: auto;
    }

    .card-image-projetos{
        width: 50%;
    }
}

/* Para telas com largura entre 576px e 779px */
@media (min-width: 576px) and (max-width: 779px) {
    .card-linguagens,
    .card-projetos {
        justify-content: space-between;
        flex: 0 0 calc(33.333% - 10px);
        margin-right: 1rem; 
        max-width: 9rem;
    }


    .titulo-sobre{
        margin: 0rem 6rem;
    }


    .conteudo-sobre{
        margin-left: 1rem;
        padding: 0;
    }


    .descricao-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    
    .imagem-sobre img {
        margin: 0rem 1rem;
        max-width: 100%;
        height: auto;
    }

    .card-image{
        width: 6rem;
    }

    .card-text{
        font-size: .8rem;
    }

    .card-image-projetos{
        width: 8rem;
    }

    
}

/* Para telas com 780px de largura ou mais */
@media (min-width: 780px) {
  
    .card-linguagens:nth-child(3n),
    .card-projetos:nth-child(3n) {
        margin-right: 0;
    }

        .card-linguagens,
        .card-projetos {
            flex: 0 0 calc(33.333% - 10px);
            margin-right: 20px; 
        }

        .titulo-sobre{
            margin: 0rem 6rem;
        }

        .conteudo-sobre{
            padding-top: 2rem;
            margin: 0;
            display: flex;
        }

        .descricao-container{
            font-size: 1.5rem;
            margin-left: 6rem;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        
        .sobre-mim { 
            display: flex;
            max-width: 100%;
            height: 25rem;
        }
        
        .imagem-sobre img {
            margin: 0rem 5rem;
            max-width: 100%;
            height: auto;
            
        }
        .projetos,
        .conhecimentos{
            display: flex;
            justify-content: space-between;
        }

        .card-image{
            width: 80%;
        }
    
        .card-text{
            margin-right: 2rem;
            margin-left: 2rem;
            padding-top: 1rem;
            font-size: .8rem;
        }
    
        .card-image-projetos{
            width: 80%;
        }

        .card-projetos{
            max-width: 16rem;
        }

}