.inicio{
    margin-bottom: 5rem;
}

.ola {
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-style: italic;
}

.apresentacao {
    font-size: 4rem;
    font-weight: 600;
    
}

.mini {
    padding-top: 0.625rem;
    font-size: 1.125rem;
    font-style: oblique ;
    font-weight: 500;
}