

.rodape{
    padding-top: 2rem;
    width: 100%;
    height: 16.5rem;
    background:  var(--cor-background);
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: 1px solid var(--cor-primaria);
}

.container-rodape{
    width: 100%;
    padding: 0rem, 2rem, 0rem, 2rem;
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}

.conteudo-rodape{

    width: 100%;
}

.acompanhe{
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.75rem;
    font-weight: 600;
    
}

.paragrafo{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    color: #667085;
    margin-top: 1rem  
}

.area-contato{
  max-width: 100%;
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: space-between;
  margin-left: 10rem;
  margin-right: 10rem;
}

.links-contato{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
  padding: .8rem;
  text-decoration: none;
  color: var(--cor-primaria);
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.links-imagem{
  width: 1.2rem;
  height: 1.2rem;
  padding-right: .5rem;
  text-align: center;
  
}

.copy{
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding-top: 1rem;
    color: #98A2B3;
    padding-bottom: 5rem;
}

.links-contato:hover{
  color: var(--cor-hover);
}

.rodape:hover{
  border: 1px solid var(--cor-hover);
}

/* Estilos para telas pequenas (até 768px de largura) */
@media (max-width: 768px) {
    .rodape {
      height: auto;
      margin-bottom: 1rem;
    }
  
    .acompanhe {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .paragrafo {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  
    .container-rodape {
      padding: 0;
    }

    .area-contato{
      display: flex;
      flex-direction: column;
    }

    .links-contato{
      width: 6rem;
    }

    .copy{
        padding-top: 5rem;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
  }
  
  /* Estilos para telas médias (entre 769px e 1024px de largura) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .acompanhe {
      font-size: 1.8rem;
      line-height: 2.25rem;
    }
  
    .paragrafo {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  }
  
  /* Estilos para telas grandes (mais de 1024px de largura) */
  @media (min-width: 1025px) {
    .acompanhe {
      font-size: 2.2rem;
      line-height: 2.75rem;
    }
  
    .paragrafo {
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
  
    .container-rodape {
      justify-content: space-between;
    }
  
  }
  