

.rodape{
    padding-top: 2rem;
    width: 100%;
    height: 13.5rem;
    background:  var(--cor-background);
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    border: 1px solid var(--cor-primaria);
}

.container-rodape{
    width: 100%;
    padding: 0rem, 2rem, 0rem, 2rem;
    gap: 2rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}

.conteudo-rodape{

    width: 100%;
}

.acompanhe{
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.75rem;
    font-weight: 600;
    
}

.paragrafo{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    color: #667085;
    margin-top: 1rem  
}

.area-email{
    text-align: center;
    width: 100%;
    height: 3rem;
}

.copy{
    text-align: center;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-top: 1rem ;
    color: #98A2B3;
    padding-bottom: 5rem;
}

input[type="email"] {
    width: 300px;
    height: 50%;
    padding: 0.625rem;
    border: 0.00625rem solid #ccc;
    border-radius: .5rem;
    border: 1px solid var(--cor-primaria);
}

input[type="submit"]{
    width: 7.25rem;
    height: 100%;
    padding: 075rem, 1.125rem, 0.75rem, 1.125rem;
    border-radius: .5rem;
    border: 0.00625rem;
    gap: .8rem;
    background: #DEDFE0;
    color: var(--cor-hover);
    cursor: pointer;
}

input[type="submit"]:hover{
    color: #DEDFE0;
    background: var(--cor-hover);
}

/* Estilos para telas pequenas (até 768px de largura) */
@media (max-width: 768px) {
    .rodape {
      height: auto;
    }
  
    .acompanhe {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  
    .paragrafo {
      font-size: 1rem;
      line-height: 1.25rem;
    }
  
    .container-rodape {
      padding: 0;
    }
  
    input[type="email"] {
      width: 18rem;
      margin-bottom: 2rem;
    }
  
    input[type="submit"] {
      width: 10rem;
    }

    .copy{
        padding-top: 5rem;
    }
  }
  
  /* Estilos para telas médias (entre 769px e 1024px de largura) */
  @media (min-width: 769px) and (max-width: 1024px) {
    .acompanhe {
      font-size: 1.8rem;
      line-height: 2.25rem;
    }
  
    .paragrafo {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }
  
    input[type="email"] {
      width: 70%;
    }
  
    input[type="submit"] {
      width: 25%;
    }
  }
  
  /* Estilos para telas grandes (mais de 1024px de largura) */
  @media (min-width: 1025px) {
    .acompanhe {
      font-size: 2.2rem;
      line-height: 2.75rem;
    }
  
    .paragrafo {
      font-size: 1.25rem;
      line-height: 1.875rem;
    }
  
    .container-rodape {
      justify-content: space-between;
    }
  
    input[type="email"] {
      width: 300px;
    }
  
    input[type="submit"] {
      width: auto;
      padding: 0.625rem 1.125rem;
    }
  }
  