.lista-links {
    list-style: none;
    margin-right: 1rem;
    
}

.lista-links .links {
    display: inline-block;
    margin-left: 0.625rem;
    
}

.instagram,
.linkedin,
.github {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.625rem;
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-color: transparent;
    
}

.redes {
    display: inline-block;
    margin-left: 0.625rem;
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
}

