@import url(cabecalho.css);
@import url(descricao.css);
@import url(links.css);
@import url(normalize.css);
@import url(reset.css);
@import url(portifolio.css);

/* Reset CSS */
body {
    font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}