@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@200&family=Titillium+Web:ital,wght@0,200;0,900;1,700&display=swap');

/* Reset CSS */
body {
    font-family: 'Titillium Web', sans-serif;
    color: var(--cor-branco);
}

/* Variaveis */
:root{
    --cor-branco: #FFFFFF;
    --cor-primaria: #ececec;
    --cor-secundaria: #0d0c0d;
    --cor-terciaria: #000000;
    --cor-hover: #98DCE1;
    --cor-background:#d9d9d9;
}

/*Estilos*/

/*Navigation style*/
.container__header{
    display: flex;
    flex-direction: column;
}
.navigation__header{
    display: flex;
    height: 4rem;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
    padding: 3rem;
}
.name{
    font-size: 2.4rem;
}
.navigation__lis{
    display: flex;
}
.navigation__item{
    list-style-type: none;
    padding: .5rem;
}

.container__header{
    width: 100%;
    height: 48rem;
    background-image: url(../imgs/bg.87635d9.webp);
    background-size: cover;
}

.content__about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-top: 12rem;
}

.about__title{
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
}


.about__description{
    width: 32rem;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: justify;
    padding: 1rem;
}

/* conteudo body */

.container__body{
    background-color: #17151e ;
}
.content__body{
}

.header__projects{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.header__title__projects{
    font-size: 4rem;
}
.header__subtitle__projects{
    margin-top: 2.8rem;
    color: #0f0d15;
    font-size: 10rem;
    position: absolute;
    width: 100%;
    font-weight: 900;
}

.content__projects{
    margin-top: 6rem;
    display: flex;
    justify-content: space-evenly;
}
.projects{
    display: flex;
    padding:2rem ;
    align-items: end;
    perspective: 1000px;
    
}

.projects:hover .project__image {
    transform: rotateY(30deg);
}

.project__image {
    margin: 0 1rem;
    width: 32rem;
    box-shadow: 0px 0px 15px #000000;
    transition: transform 0.5s ease, box-shadow 0.5s ease .5s; 
}

.project__image:hover {
    box-shadow: 0px 0px 15px #FFFFFF;
}

.project__title{
    position: absolute;
    font-size: 2rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
    filter: drop-shadow(2px 2px 5px #000000);
}

.project__link{
    text-decoration: none;
    color: #FFFFFF;
}