@import url(cabecalho.css);
@import url(descricao.css);
@import url(links.css);
@import url(normalize.css);
@import url(reset.css);
@import url(portifolio.css);
@import url(footer.css);
@import url(corpo.css);
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap');

/* Reset CSS */
body {
    font-family: Roboto, sans-serif;
    margin-left: 5rem;
    margin-right: 5rem;
    background: rgb(138,138,138);
    background: -moz-radial-gradient(circle, rgba(138,138,138,1) 0%, rgba(54,54,54,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(138,138,138,1) 0%, rgba(54,54,54,1) 100%);
    background: radial-gradient(circle, rgba(138,138,138,1) 0%, rgba(54,54,54,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8a8a8a",endColorstr="#363636",GradientType=1);
    font-family: 'gruppo';
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

main{
    margin-bottom: 5rem;
}

html {
    scroll-behavior: smooth;
}

/* Variaveis */
:root{
    --cor-branco: #FFFFFF;
    --cor-primaria: #ececec;
    --cor-secundaria: #0d0c0d;
    --cor-terciaria: #000000;
    --cor-hover: #98DCE1;
    --cor-background:#d9d9d9;
}


@media (max-width: 768px) {

    body{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
        body{
            margin-right: 1rem;
            margin-left: 1rem;
        }


    }

    @media (min-width: 1025px){
        body{
            margin-left: 5rem;
            margin-right: 5rem;
        }
    }

    