.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
}

.container-header__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-header__logo img{
    filter: invert(100%);
}

.container-header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap; /* Permite ajuste em telas pequenas */
}

.header-links__link {
    color: var(--text-color-grey);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s;
}

.header-links__link.active {
    color: var(--text-color-withe);
}

.header-links__link:hover {
    color: var(--emphasis-color);
}

.link-emphasis {
    color: var(--emphasis-color);
}

/* Media queries para responsividade */
@media (max-width: 768px) {
    .container-header {
        flex-direction: column; /* Alinha os itens verticalmente */
        gap: 1rem;
    }

    .container-header__nav {
        width: 100%;
        justify-content: center;
    }

    .header-links {
        flex-direction: row; /* Links em coluna */
        align-items: center;
        gap: 0.5rem;
    }

    .header-links__link {
        font-size: 1rem; /* Ajusta tamanho da fonte */
    }
}

@media (max-width: 480px) {
    .container-header__logo {
        justify-content: center;
        text-align: center;
    }

    .header-links {
        gap: 0.3rem; /* Reduz o espaçamento entre links */
    }

    .header-links__link {
        font-size: 0.8rem; /* Reduz o tamanho da fonte */
    }
}
