@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(reset.css);

:root{
  --fonte-principal: "Prompt", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");

$bg-gradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0.6) 0%,
  rgba(0, 0, 0, 0.3) 100%
);

* {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  background: black;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1rem, 5vw, 5rem);
  font-weight: 400;
  letter-spacing: 0.5em;
  margin-right: -0.5em;
  color: hsl(0, 0, 80%);
  width: 90vw;
  max-width: 1200px;
}

section {
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  visibility: hidden;

  .outer,
  .inner {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
  }

  .bg {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-size: cover;
    background-position: center;

    h2 {
      z-index: 2;
    }

    .clip-text {
      overflow: hidden;
    }
  }
}

.first {
  .bg {
    background-image: $bg-gradient,
      url(../images/square_ivo.png);
  }
}

.second {
  .bg {
    background-image: $bg-gradient,
      url(../images/bg/bg2.jpg);
  }
}

.third {
  .bg {
    background-image: $bg-gradient,
      url(../images/bg/bg3.jpg);
  }
}

.fourth {
  .bg {
    background-image: $bg-gradient,
      url(../images/bg/bg4.jpg);
  }
}

.fifth {
  .bg {
    background-image: $bg-gradient,
      url(../images/bg/bg5.jpg);
    background-position: 50% 45%;
  }
}

h2 * {
  will-change: transform;
}

body {
  display: flex;
  font-family: var(--fonte-principal);
  margin: 0;
  height: 100%;
}

.container {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 17rem;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  z-index: 999;
}

.profile-pic {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic img {
  border-radius: 50%;
  max-width: 7rem;
  height: auto;
  padding: .2rem;
  border: 2px solid #fff;
}

.menu ul {
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu-links {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
}

.menu-link {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  gap: .4rem;
  margin-left: 17rem;
  justify-content: center;
}

.section-heading {
  width: 48rem;
}

.name {
  font-size: 3.6rem;
  font-weight: 800;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 800;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

.location {
  font-size: 1.2rem;
}

.section-item {
  margin-top: 1rem;
}

.item-one {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.item-title {
  font-size: 2.2rem;
  font-weight: 600;
}

.item-subtitle {
  font-size: 2.2rem;
}

.item-description {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: justify;
}

.slider-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 4rem;
  align-items: center;
}

.slider-images img {
  width: 4rem;
  filter: grayscale(100%);
}

.slider-images img:hover {
  filter: none;
}

.description-item {
  font-size: 1.2rem;
}

.botao {
  width: 125px;
  height: 45px;
  border-radius: 20px;
  border: none;
  box-shadow: 1px 1px rgba(107, 221, 215, 0.37);
  padding: 5px 10px;
  background: rgb(47, 93, 197);
  background: linear-gradient(160deg, rgba(47, 93, 197, 1) 0%, rgba(46, 86, 194, 1) 5%, rgba(47, 93, 197, 1) 11%, rgba(59, 190, 230, 1) 57%, rgba(0, 212, 255, 1) 71%);
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 505;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  filter: drop-shadow(0 0 10px rgba(59, 190, 230, 0.568));
  transition: .5s linear;
}

.botao .mysvg {
  display: none;
}

.botao:hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .5s linear;
}

.botao:hover .texto {
  display: none;
}

.botao:hover .mysvg {
  display: inline;
}

.botao:hover::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3.5px solid transparent;
  border-top: 3.5px solid #fff;
  border-right: 3.5px solid #fff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button {
  margin-top: 2rem;
  padding: 0.8rem 4rem;
  border: none;
  outline: none;
  font-size: 1.3rem;
  border-radius: 0.3rem;
  font-weight: 600;
  background-color: rgba(255, 255, 255, 0.953);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.button .text {
  position: absolute;
  left: 1.8rem;
  top: 1.3rem;
  transition: 0.4s ease-in-out;
  color: rgb(50, 50, 50);
}

.svg {
  transform: translateY(-20px) rotate(30deg);
  opacity: 0;
  width: 2rem;
  transition: 0.4s ease-in-out;
}

.button:hover {
  background-color: rgb(50, 50, 50);
}

.button:hover .svg {
  display: inline-block;
  transform: translateY(0px) rotate(0deg);
  opacity: 1;
}

.button:hover .text {
  opacity: 0;
}

.button:active {
  scale: 0.97;
}

.projects {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.content-project {
  width: 20rem;
  height: 20rem;
  border: 2px solid #fff;
  background-color: rgba(160, 160, 160, .2);
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-project {
  font-size: 3rem;
  text-align: center;
}

.subtitle-project {
  font-size: 2rem;
  width: 20rem;
  text-align: center;
}

 /* Estilos do formulário */
 .container-form {
  width: 250px;
  height: 250px;
}

.terminal_toolbar {
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #212121;
  justify-content: space-between;
}

.butt {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}

.btn-color {
  background: #ee411a;
}

.btn:hover {
  cursor: pointer;
}

.add_tab {
  border: 1px solid #fff;
  color: #fff;
  padding: 0 6px;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  cursor: pointer;
}

.user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
}

.terminal_body {
  background: rgba(0, 0, 0, 0.6);
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminal_promt {
  display: flex;
  padding: 8px;
}

.terminal_promt span {
  margin-left: 4px;
}

.terminal_user {
  color: #1eff8e;
}

.terminal_location {
  color: #4878c0;
}

.terminal_bling {
  color: #dddddd;
}

.terminal_cursor {
  display: block;
  height: 14px;
  width: 5px;
  margin-left: 10px;
  animation: curbl 1200ms linear infinite;
}

@keyframes curbl {
  0% {
      background: #ffffff;
  }
  49% {
      background: #ffffff;
  }
  60% {
      background: transparent;
  }
  99% {
      background: transparent;
  }
  100% {
      background: #ffffff;
  }
}




@media screen and (min-width: 769px) {
  .menu {
    padding: 5px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
  }

  .profile-pic{
    margin-top: 2rem;
  }

  .section{
    margin-left: 17rem;
  }

  section .bg{
    padding-left: 1.5rem;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-link {
    margin-bottom: 5px;
  }

  .content {
    margin-left: 0;
  }

  .name{
    font-size: 2.8rem;
  }

  .location{
    font-size: 1rem;
  }

  .item-description{
    font-size: 1rem;
  }

  .section-heading{
    width: 48rem;
  }

  
}

@media screen and (max-width: 768px) {
  .menu {
    padding: 5px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
  }

  .profile-pic{
    margin-top: 2rem;
  }

  .section{
    margin-left: 17rem;
  }

  section .bg{
    padding-left: 1.5rem;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-link {
    margin-bottom: 5px;
  }

  .content {
    margin-left: 0;
  }

  .name{
    font-size: 2.8rem;
  }

  .location{
    font-size: 1rem;
  }

  .item-description{
    font-size: 1rem;
  }

  .section-heading{
    width: 26rem;
  }

}
@media screen and (min-width: 601px) and (max-width: 767px) {
  .menu {
    padding: 0;
    text-align: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    width: 10rem;
  }

  .profile-pic{
    margin-top: 2rem;
  }

  .section{
    margin-left: 0;
  }

.section-title{
  font-size: 2.2rem;
}

.item-title,
.item-subtitle{
  font-size:1.8rem;
}

.item-description{
  font-size: .8rem;
}

  section .bg{
    padding-left: 0;
    align-items: center;
    justify-content: center;
    margin-left: 4rem;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-links{
    margin-top: 2rem;
  }

  .menu-link {
    margin-bottom: 5px;
  }

  .content {
    margin-left: 0;
  }

  .name{
    font-size: 2.8rem;
  }

  .location{
    font-size: 1rem;
  }

  .section-heading{
    width: 25rem;
  }

}

@media screen and (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    position: fixed;
    height: 6rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .profile-pic {
    margin-top: 0; 
    margin-bottom: 0;
  }

  .profile-pic img{
    width: 4rem;
  }

  .section {
    margin-left: 0; /* Removendo a margem lateral para aproveitar o espaço na tela */
  }

  section .bg {
    padding-left: 0; /* Reduzindo ainda mais o padding do background */
  }

  .section-heading{
    margin: 0 2rem;
  }

  .slider-images{
    margin: 1rem 0;
  }

  .menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .menu-links{
    margin-top: 0;
  }

  .menu-link {
    margin-bottom: 0; /* Ajustando o espaçamento entre os links do menu */
  }

  .name {
    font-size: 1.8rem; /* Reduzindo mais o tamanho da fonte para se adequar à tela menor */
  }

  .location,
  .item-description {
    font-size: 0.7rem; /* Reduzindo mais o tamanho da fonte para se adequar à tela menor */
  }

  .section-heading {
    width: auto; /* Removendo a largura fixa para que se ajuste ao conteúdo */
  }
}
