@import url(reset.css);
@import url(var.css);
@import url(header.css);
@import url(hero.css);
@import url(quote.css);
@import url(projects.css);
@import url(skills.css);
@import url(about.css);
@import url(contact.css);
@import url(footer.css);

/* Estado inicial do corpo */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: #fff;
}

/* Estilo inicial dos elementos */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

/* Elementos no estado final após carregar */
.fade-in.loaded {
    opacity: 1;
    transform: translateY(0);
}

/* Certifique-se de que o canvas cobre toda a página */
#particles-js {
    position: fixed; /* Fixa o canvas no fundo */
    top: 0;
    left: 0;
    width: 100vw; /* Cobre toda a largura da viewport */
    height: 100vh; /* Cobre toda a altura da viewport */
    z-index: -1; /* Coloca o canvas atrás de todos os elementos */
    pointer-events: none; /* Impede interações com o canvas */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.vertical-social {
    position: fixed;
    top: 0%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    z-index: 1001;
}

.vertical-line {
    width: 2px;
    height: 150px;
    background-color: #fff;
    margin-bottom: 1rem;
}

/* Social Icon Animation */
.social-icon {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon:after {
    content: "";
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%) rotate(45deg); /* Corrige o alinhamento */
    width: 110%; /* Um pouco maior que o ícone */
    height: 110%;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: var(--emphasis-color);
    border-right-color: var(--emphasis-color);
    transition: border-color 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86),
                transform 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    backface-visibility: hidden;
}

.social-icon:hover {
    transform: scale(1.15); /* Leve aumento do ícone */
    opacity: 1;
}

.social-icon:hover:after {
    border-color: var(--emphasis-color);
    transform: translate(-50%, -50%) rotate(135deg); /* Rotação ajustada */
}

/* Ajustes para a imagem do ícone */
.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
