@import url(reset.css);@import url(var.css);@import url(header.css);@import url(hero.css);@import url(quote.css);@import url(projects.css);@import url(skills.css);@import url(about.css);@import url(contact.css);@import url(footer.css);
/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: #fff;
}
/* Certifique-se de que o canvas cobre toda a página */
#particles-js {
    position: fixed; /* Fixa o canvas no fundo */
    top: 0;
    left: 0;
    width: 100vw; /* Cobre toda a largura da viewport */
    height: 100vh; /* Cobre toda a altura da viewport */
    z-index: -1; /* Coloca o canvas atrás de todos os elementos */
    pointer-events: none; /* Impede interações com o canvas */
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.vertical-social {
    position: fixed;
    top: 10%;
    left: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.vertical-line {
    width: 2px;
    height: 150px;
    background-color: #fff;
    margin-bottom: 1rem;
}

.social-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s;
}

.social-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.social-icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}