/* Noka Hairline
font-family: "noka", sans-serif;
font-weight: 100;
font-style: normal;

Noka Light
font-family: "noka", sans-serif;
font-weight: 300;
font-style: normal;

Noka Medium
font-family: "noka", sans-serif;
font-weight: 500;
font-style: normal;

Noka Semibold
font-family: "noka", sans-serif;
font-weight: 600;
font-style: normal;

Noka Bold
font-family: "noka", sans-serif;
font-weight: 800;
font-style: normal;

Noka Black
font-family: "noka", sans-serif;
font-weight: 900;
font-style: normal; */